@import url('https://fonts.googleapis.com/css2?family=Skranji&display=swap');


.MainTitle{

    font-size: 40px;
    font-family: 'Skranji', cursive;
    text-align: center;


}

.curr{

    text-align: center;
    font-size: 25px;
    font-family:'Skranji', cursive; 
}

.links{
    margin: 10px;
    text-align: center;
}


a{
    font-size: 30px;
    font-family: 'Skranji', cursive;
    margin: 10px;
    color: black;
    text-decoration: none;
    
}

a:hover{
    background-color: yellow;
    
}